@{
    ViewBag.Title = "Link Not Found";
}

<h2>That link could not be found</h2>
<p>Remember: These links only work once, so if you feel you need to retrieve this content, please contact whoever shared it with you to get another link.</p>